<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock of Rifles</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>Додати зброю до складу</h1>
    <div class="row">
        <br>
        <form action="#" th:action="@{/add}" th:object="${rifle}" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" :field="*{name}" name="name"></td>
                </tr>
                <tr>
                    <td>Inventory Number:</td>
                    <td><input type="text" :field="*{inventory_number}" name="inventory_number"></td>
                </tr>
                <tr>
                    <td><button type="submit">Add</button></td>
                </tr>
            </table>
        </form>
        <br>
        <div>
            <a href="/download/pdf">Click here to download pdf</a><br>
            <a href="/download/excel">Click here to download excel</a><br>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Inventory Number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rifle : ${rifles}">
                <td th:text="${rifle.name}"></td>
                <td th:text="${rifle.inventory_number}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>